"*":
  "atom-beautify":
    general:
      _analyticsUserId: "a61b3522-650f-43c3-aaba-2f91b4bca9c2"
  core:
    customFileTypes:
      "source.makefile": [
        "cf"
      ]
    disabledPackages: [
      "minimap-cursorline"
      "minimap-autohide"
      "multi-cursor"
      "minimap"
      "project-viewer"
      "docker"
      "atom-hg"
      "atom-beautify"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      "__pycache__"
    ]
    telemetryConsent: "limited"
  editor:
    fontFamily: "JetBrains Mono,Source Code Pro, Menlo, Consolas, DejaVu Sans Mono, monospace"
    fontSize: 21
    preferredLineLength: 88
    scrollPastEnd: true
    showIndentGuide: true
  "exception-reporting":
    userId: "fc8bfab9-eb3d-44c8-8a52-86008b30f21c"
  "linter-eslint":
    autofix: {}
  "linter-flake8":
    maxLineLength: 88
  "linter-ui-default":
    panelHeight: 132
  minimap:
    plugins:
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "minimap-autohide": true
      "minimap-autohideDecorationsZIndex": 0
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
      showInStatusBar: true
    useEslint: true
  "project-viewer":
    autoHide: true
    disclaimer:
      v131: false
    hideHeader: true
    panelPosition: "Left (last)"
    visibilityOption: "Remember state"
  "python-black": {}
  "tree-view":
    autoReveal: true
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
".basic.html.text":
  editor:
    showIndentGuide: true
    tabLength: 4
