set show-all-if-ambiguous on
set completion-ignore-case on
set match-hidden-files off
set meta-flag on
set convert-meta off
set output-meta on
set visible-stats on
#set editing-mode vi
#set keymap vi
#set bell-style visible
